h1{
    font-size: 2.5vw;
    color: whi;
    text-align: center;
}
body{
    background-image: url("git.png"); 
	background-color: #cccccc; 
	height: 700px;
	background-position: center; 
	background-size: cover;
    width:95%;
    font-family:sans-serif;
}
li{
    list-style:none;
}
#showme{
    margin:10%;
}
button{
    font-size: 1.5vw;
    cursor: pointer;
    width:300PX;
    border:2px solid #BD9531;
    border-radius: 7px;
    margin-top: 5px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    border:2px solid #BD9531;
    margin: 5%;
    background-color: #616A6B;
}
#info1{
    display: inline-block;
    background-color:#E8F8F5 ;
    padding-right:20%;
    margin-bottom:7%;
    margin-top:1%;
    border:1px solid #17202A;
}
img{
    margin:6%;
    margin-bottom:-10px;
    padding:2px;
}
a:link{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.class{
    padding: 15px 35px;
    text-align: center;
}